.out-of-scope, .non-normative {
  border: 3px solid darkgray;
  content: "...";
}

.out-of-scope p,
.out-of-scope ul,
.out-of-scope h2,
.non-normative p,
.non-normative ul,
.non-normative h2 {
  opacity: 0.25
}

.out-of-scope:before {
  content: "Out Of Scope";
  color: dimgray;
  font-weight: bold;
  background: gainsboro;
  border-top: 3px solid darkgray;
  border-right: 3px solid darkgray;
  border-bottom: 3px solid darkgray;
  padding: 3px 6px 3px 3px;
}

.non-normative:before {
  content: "Non-Normative";
  color: dimgray;
  font-weight: bold;
  background: gainsboro;
  border-top: 3px solid darkgray;
  border-right: 3px solid darkgray;
  border-bottom: 3px solid darkgray;
  padding: 3px 6px 3px 3px;
}

.tested {
  border: 3px solid darkgreen;
}

.tested:before {
  content: "Tested";
  color: darkgreen;
  font-weight: bold;
  background: palegreen;
  border-top: 3px solid darkgreen;
  border-right: 3px solid darkgreen;
  border-bottom: 3px solid darkgreen;
  padding: 3px 6px 3px 3px;
}

.untested {
  border: 3px solid crimson;
}

.untested:before {
  content: "Untested";
  color: crimson;
  font-weight: bold;
  background: mistyrose;
  border-top: 3px solid crimson;
  border-right: 3px solid crimson;
  border-bottom: 3px solid crimson;
  padding: 3px 6px 3px 3px;
}

.needs-verification {
  border: 3px solid darkblue;
}

.needs-verification:before {
  content: "Needs Verification";
  color: darkblue;
  font-weight: bold;
  background: lightsteelblue;
  border-top: 3px solid darkblue;
  border-right: 3px solid darkblue;
  border-bottom: 3px solid darkblue;
  padding: 3px 6px 3px 3px;
}

.incomplete {
  border: 3px solid darkorange;
}

.incomplete:before {
  content: "Incomplete";
  color: darkorange;
  font-weight: bold;
  background: gold;
  border-top: 3px solid darkorange;
  border-right: 3px solid darkorange;
  border-bottom: 3px solid darkorange;
  padding: 3px 6px 3px 3px;
}
