
*[deleted-from-spec],
*[non-normative],
*[out-of-scope],
*[untestable] {
  margin: 5px 0;
  border: 3px solid darkgray;
  content: "...";
}

*[deleted-from-spec] p,
*[deleted-from-spec] ul,
*[deleted-from-spec] h2,
*[non-normative] p,
*[non-normative] ul,
*[non-normative] h2,
*[out-of-scope] p,
*[out-of-scope] ul,
*[out-of-scope] h2,
*[untestable] p,
*[untestable] ul,
*[untestable] h2 {
  opacity: 0.25
}

*[deleted-from-spec]:before,
*[untestable]:before,
*[out-of-scope]:before {
  content: "Out Of Scope";
  color: dimgray;
  font-weight: bold;
  background: gainsboro;
  border-top: 3px solid darkgray;
  border-right: 3px solid darkgray;
  border-bottom: 3px solid darkgray;
  padding: 3px 6px 3px 3px;
}

*[deleted-from-spec]:before {
  content: "Deleted From Spec";
}
*[untestable]:before {
  content: "Untestable";
}

*[non-normative]:before {
  content: "Non-Normative";
  color: dimgray;
  font-weight: bold;
  background: gainsboro;
  border-top: 3px solid darkgray;
  border-right: 3px solid darkgray;
  border-bottom: 3px solid darkgray;
  padding: 3px 6px 3px 3px;
}

*[implicit],
*[tested] {
  margin: 5px 0;
  border: 3px solid darkgreen;
}

*[implicit]:before,
*[tested]:before {
  content: "Tested";
  color: darkgreen;
  font-weight: bold;
  background: palegreen;
  border-top: 3px solid darkgreen;
  border-right: 3px solid darkgreen;
  border-bottom: 3px solid darkgreen;
  padding: 3px 6px 3px 3px;
}

*[implicit]:before {
  content: "Implicit";
}

*[todo] {
  margin: 5px 0;
  border: 3px solid darkmagenta;
}

*[todo]:before {
  content: "TODO";
  color: darkmagenta;
  font-weight: bold;
  background: thistle;
  border-top: 3px solid darkmagenta;
  border-right: 3px solid darkmagenta;
  border-bottom: 3px solid darkmagenta;
  padding: 3px 6px 3px 3px;
}


*[tested-idlharness] {
  margin: 5px 0;
  border: 3px solid darkgreen;
}

*[tested-idlharness]:before {
  content: "Tested with idlharness.js";
  color: darkgreen;
  font-weight: bold;
  background: palegreen;
  border-top: 3px solid darkgreen;
  border-right: 3px solid darkgreen;
  border-bottom: 3px solid darkgreen;
  padding: 3px 6px 3px 3px;
}

*[untested] {
  margin: 5px 0;
  border: 3px solid crimson;
}

*[untested]:before {
  content: "Untested";
  color: crimson;
  font-weight: bold;
  background: mistyrose;
  border-top: 3px solid crimson;
  border-right: 3px solid crimson;
  border-bottom: 3px solid crimson;
  padding: 3px 6px 3px 3px;
}

*[needs-verification] {
  margin: 5px 0;
  border: 3px solid darkblue;
}

*[needs-verification]:before {
  content: "Needs Verification";
  color: darkblue;
  font-weight: bold;
  background: lightsteelblue;
  border-top: 3px solid darkblue;
  border-right: 3px solid darkblue;
  border-bottom: 3px solid darkblue;
  padding: 3px 6px 3px 3px;
}

*[incomplete] {
  margin: 5px 0;
  border: 3px solid darkorange;
}

*[incomplete]:before {
  content: "Incomplete";
  color: darkorange;
  font-weight: bold;
  background: gold;
  border-top: 3px solid darkorange;
  border-right: 3px solid darkorange;
  border-bottom: 3px solid darkorange;
  padding: 3px 6px 3px 3px;
}


pre [implicit],
pre [tested],
pre [todo],
pre [tested-idlharness],
pre [untested],
pre [needs-verification],
pre [incomplete] {
  padding: 3px 0px;
}


*[deleted-from-spec]
*[out-of-scope]
*[non-normative]
*[incomplete]
*[implicit]
*[untested]
*[untestable]
*[tested]
*[todo], dt {
  margin: 3px;
}
